mat-form-field{
    position: fixed;
    top: 7%;
    left: 33%;
    /* transform: translate(-50%, -70%); */
    transform: translate(-50%, 90%);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .back-button {
    width: auto;
  }
  
  mat-form-field{
    border-top: 15px solid #AEBBFD;
    border-radius: 5px;
  }