mat-form-field{
    position: fixed;
    top: 38%;
    left: 90%;
    /* transform: translate(-50%, -70%); */
    transform: translate(-50%, 90%);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .back-button {
    width: auto;
  }
  